<a href="https://colab.research.google.com/github/Nanxi-lu/BSA_Big_data/blob/main/%E2%80%9CW05_quiz_2026_ipynb%E2%80%9D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 5 Quiz

This notebook contains the SQL Quiz for Week 5. Section 1 uses the New York City data we know and love. Section 2 uses building footprint data from the Google Open Buildings dataset.

INSTRUCTIONS:

Run this notebook in Google Colab. The answer to each quesiton will be a number or a string. Input these into the corresponding question on Moodle. You have 90 minutes to attempt the quiz, so if you get stuck on a question, move on.

Make sure you run all of the cells of code in order, especially the ones that already have code in them! If you run into serious problems, try clicking on the "runtime" tab above and selecting "restart session and run all".
Use the cells below for any necessary setup.

In [ ]:
import os
from pathlib import Path

In [ ]:
%pip install duckdb leafmap

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.3.2)
Collecting leafmap
  Downloading leafmap-0.60.0-py2.py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: anywidget in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.9.21)
Requirement already satisfied: bqplot in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.12.45)
Collecting duckdb
  Downloading duckdb-1.4.4-cp312-cp312-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl.metadata (4.3 kB)
Requirement already satisfied: folium in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.2.1)
Collecting geojson (from leafmap)
  Downloading geojson-3.2.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: geopandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (1.1.2)
Requirement already satisfied: ipyevents in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.4)
Requirement already satisfied: ipyfilechooser in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.6.0)
Requirement already satisfied: ipyleaflet in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.20.0)
Collecting ipyvuetify (from leafmap)
  Downloading ipyvuetify-1.11.3-py2.py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.7.1)
Collecting maplibre (from leafmap)
  Downloading maplibre-0.3.6-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from leafmap) (3.10.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from leafmap) (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (from leafmap) (5.24.1)
Collecting pystac-client (from leafmap)
  Downloading pystac_client-0.9.0-py3-none-any.whl.metadata (3.1 kB)
Requirement already satisfied: python-box in /usr/local/lib/python3.12/dist-packages (from leafmap) (7.3.2)
Requirement already satisfied: scooby in /usr/local/lib/python3.12/dist-packages (from leafmap) (0.11.0)
Collecting whiteboxgui (from leafmap)
  Downloading whiteboxgui-2.3.0-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.12/dist-packages (from leafmap) (2025.11.0)
Requirement already satisfied: psygnal>=0.8.1 in /usr/local/lib/python3.12/dist-packages (from anywidget->leafmap) (0.15.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.12/dist-packages (from anywidget->leafmap) (4.15.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (6.17.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (5.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.6.10)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ipywidgets->leafmap) (3.0.16)
Requirement already satisfied: traittypes>=0.0.6 in /usr/local/lib/python3.12/dist-packages (from bqplot->leafmap) (0.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->leafmap) (2025.3)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (0.8.2)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (3.1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from folium->leafmap) (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (3.20.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown->leafmap) (4.67.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (0.12.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (26.0)
Requirement already satisfied: pyproj>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (3.7.2)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from geopandas->leafmap) (2.1.2)
Requirement already satisfied: jupyter-leaflet<0.21,>=0.20 in /usr/local/lib/python3.12/dist-packages (from ipyleaflet->leafmap) (0.20.0)
Collecting ipyvue<2,>=1.7 (from ipyvuetify->leafmap)
  Downloading ipyvue-1.11.3-py2.py3-none-any.whl.metadata (987 bytes)
Collecting eval-type-backport (from maplibre->leafmap)
  Downloading eval_type_backport-0.3.1-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: pydantic>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from maplibre->leafmap) (2.12.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->leafmap) (3.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly->leafmap) (9.1.2)
Collecting pystac>=1.10.0 (from pystac[validation]>=1.10.0->pystac-client->leafmap)
  Downloading pystac-1.14.3-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: ipytree in /usr/local/lib/python3.12/dist-packages (from whiteboxgui->leafmap) (0.2.2)
Collecting whitebox (from whiteboxgui->leafmap)
  Downloading whitebox-2.3.6-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.8.15)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (7.4.9)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (0.2.1)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.5)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (26.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.12/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (6.5.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (75.2.0)
Collecting jedi>=0.16 (from ipython>=4.0.0->ipywidgets->leafmap)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2>=2.9->folium->leafmap) (3.0.3)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2.5.3->maplibre->leafmap) (0.4.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from pyogrio>=0.7.2->geopandas->leafmap) (2026.1.4)
Requirement already satisfied: jsonschema~=4.18 in /usr/local/lib/python3.12/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (4.26.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->leafmap) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->folium->leafmap) (2.5.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.12/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.5.7)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown->leafmap) (2.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown->leafmap) (1.7.1)
Requirement already satisfied: Click>=6.0 in /usr/local/lib/python3.12/dist-packages (from whitebox->whiteboxgui->leafmap) (8.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets->leafmap) (0.8.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.30.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.12/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (5.9.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (5.10.4)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.17.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.1.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.24.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.12/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.3.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets->leafmap) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->leafmap) (0.5.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (4.5.1)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.12/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.2.4)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.3.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.2.0)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.12/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.21.2)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.12/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (25.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.4.0)
Requirement already satisfied: jupyter-server<3,>=1.8 in /usr/local/lib/python3.12/dist-packages (from notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.14.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.0)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.12.1)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.4)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.12/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.9.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.0.3)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.12/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.1.1)
Requirement already satisfied: fqdn in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.12/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.0.0)

In [ ]:
import duckdb
import leafmap

In [ ]:
data_dir = Path("nyc_data")
zip_path = Path("postgis-workshop-2020.zip")
data_dir.mkdir(exist_ok=True)

# Section 1

The URL below points to a zip file containing the data on New York City that we've been working with so far.

https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip

In [ ]:
# zip
url = "https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip"
leafmap.download_file(url, str(zip_path))

Downloading...
From: https://s3.amazonaws.com/s3.cleverelephant.ca/postgis-workshop-2020.zip
To: /content/postgis-workshop-2020.zip
100%|██████████| 22.5M/22.5M [00:00<00:00, 29.0MB/s]

Extracting files...

'/content/postgis-workshop-2020.zip'

In [ ]:
import zipfile

In [ ]:
# Unzip using standard Python
with zipfile.ZipFile(zip_path, "r") as z:
    z.extractall(data_dir)

In [ ]:
# Connect to DuckDB and enable spatial
db_path = "nyc.duckdb"
con = duckdb.connect(db_path)

con.install_extension("spatial")
con.load_extension("spatial")

con.sql("SELECT 1;").fetchall()

[(1,)]

In [ ]:
# shapefile
def find_shp(keyword: str) -> str:
    matches = [p for p in data_dir.rglob("*.shp") if keyword.lower() in p.name.lower()]
    if not matches:
        raise FileNotFoundError(f"No .shp found for keyword: {keyword}")
    # If there are multiple matches, pick the shortest path (usually the main file)
    matches = sorted(matches, key=lambda p: (len(str(p)), str(p)))
    return str(matches[0])

shp_neighborhoods = find_shp("neighborhood")
shp_census_blocks = find_shp("census")     # sometimes "census_blocks" or similar
shp_homicides = find_shp("homicide")
shp_streets = find_shp("street")
shp_subway = find_shp("subway")

## Question 1

Create the following tables using the corresponding shapefiles.
- nyc_neighborhoods
- nyc_census_blocks
- nyc_homicides
- nyc_streets
- nyc_subway_stations

In [ ]:
# Create tables
con.sql(f"""
CREATE OR REPLACE TABLE nyc_neighborhoods AS
SELECT * FROM ST_Read('{shp_neighborhoods}');
""")

con.sql(f"""
CREATE OR REPLACE TABLE nyc_census_blocks AS
SELECT * FROM ST_Read('{shp_census_blocks}');
""")

con.sql(f"""
CREATE OR REPLACE TABLE nyc_homicides AS
SELECT * FROM ST_Read('{shp_homicides}');
""")

con.sql(f"""
CREATE OR REPLACE TABLE nyc_streets AS
SELECT * FROM ST_Read('{shp_streets}');
""")

con.sql(f"""
CREATE OR REPLACE TABLE nyc_subway_stations AS
SELECT * FROM ST_Read('{shp_subway}');
""")

In [ ]:
con.sql("""
SHOW TABLES;
""").fetchdf()

                  name
0    nyc_census_blocks
1        nyc_homicides
2    nyc_neighborhoods
3          nyc_streets
4  nyc_subway_stations

In [ ]:
con.sql("""
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name IN (
  'nyc_neighborhoods',
  'nyc_census_blocks',
  'nyc_homicides',
  'nyc_streets',
  'nyc_subway_stations'
)
ORDER BY table_name, ordinal_position;
""").fetchdf()

             table_name column_name data_type
0     nyc_census_blocks       BLKID   VARCHAR
1     nyc_census_blocks  POPN_TOTAL    BIGINT
2     nyc_census_blocks  POPN_WHITE    BIGINT
3     nyc_census_blocks  POPN_BLACK    BIGINT
4     nyc_census_blocks  POPN_NATIV    BIGINT
5     nyc_census_blocks  POPN_ASIAN    BIGINT
6     nyc_census_blocks  POPN_OTHER    BIGINT
7     nyc_census_blocks    BORONAME   VARCHAR
8     nyc_census_blocks        geom  GEOMETRY
9         nyc_homicides  INCIDENT_D      DATE
10        nyc_homicides    BORONAME   VARCHAR
11        nyc_homicides  NUM_VICTIM   VARCHAR
12        nyc_homicides  PRIMARY_MO   VARCHAR
13        nyc_homicides          ID    BIGINT
14        nyc_homicides      WEAPON   VARCHAR
15        nyc_homicides  LIGHT_DARK   VARCHAR
16        nyc_homicides        YEAR    BIGINT
17        nyc_homicides        geom  GEOMETRY
18    nyc_neighborhoods    BORONAME   VARCHAR
19    nyc_neighborhoods        NAME   VARCHAR
20    nyc_neighborhoods        geom  GEOMETRY
21          nyc_streets          ID    BIGINT
22          nyc_streets        NAME   VARCHAR
23          nyc_streets      ONEWAY   VARCHAR
24          nyc_streets        TYPE   VARCHAR
25          nyc_streets        geom  GEOMETRY
26  nyc_subway_stations    OBJECTID    DOUBLE
27  nyc_subway_stations          ID    DOUBLE
28  nyc_subway_stations        NAME   VARCHAR
29  nyc_subway_stations    ALT_NAME   VARCHAR
30  nyc_subway_stations    CROSS_ST   VARCHAR
31  nyc_subway_stations   LONG_NAME   VARCHAR
32  nyc_subway_stations       LABEL   VARCHAR
33  nyc_subway_stations     BOROUGH   VARCHAR
34  nyc_subway_stations      NGHBHD   VARCHAR
35  nyc_subway_stations      ROUTES   VARCHAR
36  nyc_subway_stations   TRANSFERS   VARCHAR
37  nyc_subway_stations       COLOR   VARCHAR
38  nyc_subway_stations     EXPRESS   VARCHAR
39  nyc_subway_stations      CLOSED   VARCHAR
40  nyc_subway_stations        geom  GEOMETRY

## Question 2:
How many subway stations are there in NYC?

In [ ]:
con.sql("""
SELECT
  (SELECT COUNT(*) FROM nyc_neighborhoods) AS neighborhoods_n,
  (SELECT COUNT(*) FROM nyc_census_blocks) AS census_blocks_n,
  (SELECT COUNT(*) FROM nyc_homicides) AS homicides_n,
  (SELECT COUNT(*) FROM nyc_streets) AS streets_n,
  (SELECT COUNT(*) FROM nyc_subway_stations) AS subway_stations_n;
""").fetchdf()

   neighborhoods_n  census_blocks_n  homicides_n  streets_n  subway_stations_n
0              129            38794         3984      19091                491

## Question 3:

What combination of borough and year hard the largest number of homicide victims?

In [ ]:
con.sql("""
SELECT
  boroname,
  year,
  COUNT(*) AS homicide_count
FROM nyc_homicides
GROUP BY boroname, year
ORDER BY homicide_count DESC
LIMIT 1;
""").fetchdf()

   BORONAME  YEAR  homicide_count
0  Brooklyn  2003             218

## Question 4:

Which subway station has the largest number of shooting victims within a 300 meter radius?

In [ ]:
con.sql("""
SELECT
  s.name AS station_name,
  SUM(CAST(h.num_victim AS INTEGER)) AS victim_count
FROM nyc_subway_stations AS s
JOIN nyc_homicides AS h
ON ST_DWithin(
  s.geom,
  h.geom,
  300
)
GROUP BY s.name
ORDER BY victim_count DESC
LIMIT 1;
""").fetchdf()

  station_name  victim_count
0   Church Ave          33.0

## Question 5

what is the most densely populated residential street in new york? (total population of intersecting census blocks divided by the total length of the street)

In [ ]:
con.sql("""
SELECT
  type,
  COUNT(*) AS n
FROM nyc_streets
GROUP BY type
ORDER BY n DESC;
""").fetchdf()

                                                TYPE      n
0                                        residential  16560
1                                      motorway_link    953
2                                            footway    345
3                                       unclassified    337
4                                           tertiary    257
5                                           motorway    227
6                                          secondary    137
7                                            primary     98
8                                            service     90
9                                         pedestrian     20
10                                        trunk_link     15
11                                             trunk     14
12                                      primary_link     12
13                                      construction      8
14                                             steps      7
15                                     living_street      2
16                                          cycleway      2
17                        residential; motorway_link      2
18  primary; residential; motorway_link; residential      2
19                                         undefined      2
20                        motorway_link; residential      1

In [ ]:
con.sql("""
WITH street_pop AS (
  SELECT
    s.id,
    s.name AS street_name,
    SUM(cb.popn_total) AS total_population,
    ST_Length(s.geom) AS street_length_m
  FROM nyc_streets AS s
  JOIN nyc_census_blocks AS cb
    ON ST_Intersects(s.geom, cb.geom)
  WHERE s.type = 'residential'
  GROUP BY s.id, s.name, s.geom
),
street_density AS (
  SELECT
    id,
    street_name,
    total_population / street_length_m AS pop_per_meter
  FROM street_pop
  WHERE street_length_m > 0
)
SELECT
  street_name,
  pop_per_meter
FROM street_density
ORDER BY pop_per_meter DESC
LIMIT 3;
""").fetchdf()

    street_name  pop_per_meter
0       W 66 St    3223.787480
1  Rikers Is Br     422.560822
2    Eagle N Ln     356.255957

# Section 2

This section uses internet speed data from [Ookla](https://github.com/teamookla/ookla-open-data); take a minute to read the documentation of the dataset.

Create a table called ookla_nyc which reads the data from this url:

https://storage.googleapis.com/qm2/CASA0025/ookla_nyc.parquet

In [ ]:
con.sql("""
CREATE OR REPLACE TABLE ookla_nyc AS
SELECT *
FROM read_parquet(
  'https://storage.googleapis.com/qm2/CASA0025/ookla_nyc.parquet'
);
""")

In [ ]:
con.sql("""
SHOW TABLES;
""").fetchdf()

                  name
0    nyc_census_blocks
1        nyc_homicides
2    nyc_neighborhoods
3          nyc_streets
4  nyc_subway_stations
5            ookla_nyc

## Question 6
How many tiles are contained within new york city neighbourhoods?

In [ ]:
con.sql("""
DESCRIBE ookla_nyc;
""").fetchdf()

        column_name column_type null   key default extra
0           quadkey     VARCHAR  YES  None    None  None
1            tile_x      DOUBLE  YES  None    None  None
2            tile_y      DOUBLE  YES  None    None  None
3        avg_d_kbps      BIGINT  YES  None    None  None
4        avg_u_kbps      BIGINT  YES  None    None  None
5        avg_lat_ms      BIGINT  YES  None    None  None
6   avg_lat_down_ms     INTEGER  YES  None    None  None
7     avg_lat_up_ms     INTEGER  YES  None    None  None
8             tests      BIGINT  YES  None    None  None
9           devices      BIGINT  YES  None    None  None
10          quarter      BIGINT  YES  None    None  None
11             type     VARCHAR  YES  None    None  None
12             year      BIGINT  YES  None    None  None
13         geometry     VARCHAR  YES  None    None  None

In [ ]:
con.sql("""
CREATE OR REPLACE TABLE ookla_nyc_geom AS
SELECT
  *,
  ST_GeomFromText(geometry) AS geom
FROM ookla_nyc;
""")

In [ ]:
con.sql("""
SELECT
  COUNT(*) AS tile_count
FROM ookla_nyc_geom AS o
JOIN nyc_neighborhoods AS n
ON ST_Within(o.geom, n.geom);
""").fetchdf()

   tile_count
0        1403

## Question 7

Which neighbourhood has the highest average download speed? use 'within' rather than intersects, and ignore tiles with fewer than 3 tests.

In [ ]:
con.sql("""
SELECT
  n.name AS neighborhood,
  AVG(o.avg_d_kbps) AS avg_download_kbps
FROM ookla_nyc_geom AS o
JOIN nyc_neighborhoods AS n
ON ST_Within(o.geom, n.geom)
WHERE o.tests >= 3
GROUP BY n.name
ORDER BY avg_download_kbps DESC
LIMIT 2;
""").fetchdf()

  neighborhood  avg_download_kbps
0     Woodside      455960.333333
1     Glendale      430165.777778

## Question 8

What is the name of the subway station closest to the tile with the highest download speed?

In [ ]:
con.sql("""
WITH fastest_tile AS (
  SELECT
    geom
  FROM ookla_nyc_geom
  WHERE tests >= 3
  ORDER BY avg_d_kbps DESC
  LIMIT 1
)
SELECT
  s.name AS station_name,
  ST_Distance(s.geom, f.geom) AS distance_m
FROM nyc_subway_stations AS s
CROSS JOIN fastest_tile AS f
ORDER BY distance_m ASC;
""").fetchdf()

        station_name    distance_m
0             Nassau   9129.213699
1    Richmond Valley   9200.404652
2           Atlantic   9264.386813
3    Pleasant Plains   9299.457346
4        Tottenville   9500.923332
..               ...           ...
486         233rd St  47434.311672
487   Baychester Ave  47530.984862
488       Nereid Ave  48005.001922
489         241st St  48625.251416
490         Dyre Ave  48795.339080

[491 rows x 2 columns]

## Question 9

Which neighbourhood has the highest number of devices per capita? Use only spatial intersections.

In [ ]:
con.sql("""
WITH devices_by_neighborhood AS (
  SELECT
    n.name AS neighborhood,
    SUM(o.devices) AS devices_total
  FROM nyc_neighborhoods AS n
  JOIN ookla_nyc_geom AS o
    ON ST_Intersects(o.geom, n.geom)
  GROUP BY n.name
),
pop_by_neighborhood AS (
  SELECT
    n.name AS neighborhood,
    SUM(cb.popn_total) AS pop_total
  FROM nyc_neighborhoods AS n
  JOIN nyc_census_blocks AS cb
    ON ST_Intersects(cb.geom, n.geom)
  GROUP BY n.name
)
SELECT
  d.neighborhood,
  d.devices_total,
  p.pop_total,
  d.devices_total * 1.0 / p.pop_total AS devices_per_capita
FROM devices_by_neighborhood AS d
JOIN pop_by_neighborhood AS p
  ON d.neighborhood = p.neighborhood
WHERE p.pop_total > 0
ORDER BY devices_per_capita DESC;
""").fetchdf()

            neighborhood  devices_total  pop_total  devices_per_capita
0                 Corona          162.0      333.0            0.486486
1       Garment District         2253.0    10539.0            0.213777
2            Fresh Kills           21.0      100.0            0.210000
3               Rosedale           10.0      111.0            0.090090
4               Downtown         1047.0    11643.0            0.089925
..                   ...            ...        ...                 ...
118              Tremont          916.0   122743.0            0.007463
119       Morris Heights          547.0    73413.0            0.007451
120        The Rockaways          770.0   112535.0            0.006842
121  Springfield Gardens          272.0    41157.0            0.006609
122        Port Richmond          140.0    21257.0            0.006586

[123 rows x 4 columns]

## Question 10

What is the average upload speed for tiles that are within 200 meters of L train stops and intersect with census blocks where the black population is above 50%?

In [ ]:
con.sql("""
WITH l_train_stations AS (
  SELECT
    geom
  FROM nyc_subway_stations
  WHERE routes LIKE '%L%'
),
high_black_blocks AS (
  SELECT
    geom
  FROM nyc_census_blocks
  WHERE popn_black * 1.0 / popn_total > 0.5
)
SELECT
  AVG(o.avg_u_kbps) AS avg_upload_kbps
FROM ookla_nyc_geom AS o
JOIN l_train_stations AS l
  ON ST_DWithin(o.geom, l.geom, 200)
JOIN high_black_blocks AS b
  ON ST_Intersects(o.geom, b.geom);
""").fetchdf()

   avg_upload_kbps
0    124413.306954